{% extends "base.html" %}
{% block title %} pizza house/About us {% endblock %}

{% block content%}

<div>
    <p>
        Welcome to Pizza House, where love for food and
        genuine hospitality come together. Our inspiration is to prepare an array of pizza combinations for you to delight in. We offer the best in terms of variety and taste for a delight in every bite.
        <br> <br>
        WE ARE LOCATED AT:
         <br>Bungoma Road, Nairobi, 3912200
      </p>
      <br> <br>
</div>
{% endblock %}