{% extends "base.html" %}
{% block title %} pizza house/contact us {% endblock %}

{% block content%}

<div>
    <p>
        Welcome to Pizza House, where love for food and
        genuine hospitality come together. Our inspiration is to prepare an array of pizza combinations for you to delight in. We offer the best in terms of variety and taste for a delight in every bite.
    </p>
    <p>Contact us through:</p>

    <div class="icon">
        <a href="#"><ion-icon name="logo-facebook">PiZZaHOUSE</ion-icon></a>
        <br>
        <a href="#"><ion-icon name="logo-instagram">pizzaHouse</ion-icon></a>
        <br>
        <a href="#"><ion-icon name="logo-twitter">PIZZA_HOUSE</ion-icon></a>
        <br>
        <a href="#"><ion-icon name="logo-google">www.pizzahouse.co.ke</ion-icon></a>
        <br>
        <a href="#"><ion-icon name="logo-skype">pizzashouse</ion-icon></a>
        <br><br>
  </div>

</div>

{% endblock %}